/approach.py
/camera.py
/detect.py
/downloads
/ex1.py
/idk.py
/listpic.py
/machine.fbx
/media.py
/mediatry.py
/newobjdetect.py
/old_wooden_chair.fbx
/pdraw.py
/photo2.py
/photovideo.py
/reach.py
/str.py
/stream.py
/streamexam.py
/streaming.py
/streamtry.py
/streamvideo.py
/takeoff.py
/workingCode
/wtf.py